* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  position: relative;
  height: 100%;
  font-family: Cambria;
  overflow-y: scroll;
}

::selection {
  background-color: #bb3442;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  color: #323232;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.3em;
}

p,
li {
  font-size: 1.2em;
  color: #524848;
}
p {
  text-indent: 20px;
}

a {
  color: #bb3442 !important;
}
@media (hover: hover) {
  a:hover {
    text-decoration: none;
  }
}
